<div>
    <div class="row">

        <div class="col-lg-7 col-md-12">
            <div class="ms-5 mt-5 mb-5 me-5">
                <h2 class="text-center mb-5">TRANSACTION HISTORY</h2>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button (click)="filterData('')" type="button" class="btn text-white">All</button>
                    <button (click)="filterData('CREDIT')" type="button" class="btn text-white">Credit</button>
                    <button (click)="filterData('DEBIT')" type="button" class="btn text-white">Debit</button>
                </div>
                <div *ngIf="spinner" class="text-center p-4">
                    <i class="fa-solid fa-circle-notch fa-spin fa-3x"></i>
                </div>
                <table *ngIf="!spinner" class="table table-striped mt-3">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Type</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Account Number</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of transactionArray | filter:searchTerm:'type',let j=index">
                            <th scope="row">{{j+1}}</th>
                            <td>{{i.type}}</td>
                            <td>{{i.amount}}</td>
                            <td>{{i.tacno}}</td>
                            <td>{{i.date}}</td>
                        </tr>
                    </tbody>
                </table>
                <button (click)="pdfExport()" type="button" class="btn text-white mt-2">Download PDF</button>

            </div>
        </div>
        <div class="col-lg-5 col-md-12">
            <div ms-5 mt-5 mb-5>
                <div class="mb-4" id="image">
                    <h5 class="mt-2 text-center">{{date | date : 'short'}}</h5>

                    <img class="mt-4 mb-2" src="https://i.postimg.cc/J4s38SXc/2235220.jpg" alt="" srcset="">

                    <div class="text-center mt-4">
                        <button (click)="backtoHome()" type="button" class="btn mb-4" id="dwld" style="background-color: yellowgreen;color: white;"><b>Back to
                                <i class="fa-solid fa-house"></i></b> </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>