<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://i.postimg.cc/MTdY8K13/bankimg.png"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1" id="f1">
        <form>

          <div class="form-outline">
            <h1 class="text-center mb-5">Log In</h1>
            <input #acno type="text" id="acno" name="acno" class="form-control form-control-lg"
              [placeholder]="data2" />
          </div>

          <!-- Password input -->
          <div class="form-outline">
            <input #psw type="password" id="pwd" name="pwd" class="form-control form-control-lg mt-5"
              placeholder="Enter password" />
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check m-4 mb-0">
              <input class="form-check-input me-3" type="checkbox" value="" id="form2Example3" />
              <label class="form-check-label" for="form2Example3">
                Remember me
              </label>
            </div>
            <a href="#!" class="text-body m-4 mb-0">Forgot password?</a>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button (click)="login(acno,psw)" type="submit" class="btn btn-lg text-white"
              style="padding-left: 2.5rem; padding-right: 2.5rem;background-color: cadetblue;">Login</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!"
                class="link-danger">Register</a></p>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
<!-- https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp -->