<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto ms-5">
            </ul>
            <ul class="navbar-nav me-5 mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" href="#">Balance Check</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Money Transfer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Account Statements</a>
                </li>
                <li class="nav-item dropdown">
                    <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-user"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">View Profile</a></li>
                        <li><a class="dropdown-item" href="#">Delete Account</a></li>
                        <li><a class="dropdown-item" href="#">Logout <i class="fa-solid fa-right-from-bracket"></i></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid" id="hbody">
    <div class="row">
        <div class="col-lg-7 col-md-12">
            <div class="d1" class="text-center pt-5 m-5">
                <h1 class="pt-3 pb-3">Welcome To <span>ICICI Net Banking</span></h1>
                <h3 class="pt-2">Happy Banking With Us!</h3>
                <p class="mt-4 pt-4 p-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit sapiente
                    mollitia
                    sed
                    earum fuga eaque. Minus suscipit atque culpa commodi temporibus dolore, similique quae, omnis
                    laborum,
                    ad nostrum cum sunt!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam vel eius tempore, commodi alias
                    expedita consectetur possimus, accusamus sed, laudantium quam architecto explicabo laboriosam? Ab
                    provident dicta a officiis earum!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas quidem, enim nesciunt autem ipsum
                    sunt sapiente aspernatur eius neque, facilis nobis commodi provident, facere sequi harum. Vero
                    voluptas deserunt et.
                </p>
            </div>

        </div>
        <div class="col-lg-5 col-md-12">
            <div id="d2" class="m-5">
                <img src="https://i.postimg.cc/yN58PYX8/a095b5c25cf1851f6169644a10f7e863.png" class="m-4" alt="">
            </div>
        </div>
    </div>
</div>
