img{
    background-size:contain;
    width: 80%;
    margin-top: 100px;
}
.navbar{
    background-color:yellowgreen;
}
a{
    color: white;
}
a:hover{
    color:cornflowerblue;
}
i{
    color:white
}
i:hover{
    color: cornflowerblue;
}
span{
    color:orange
}
.dropdown-item{
    color:yellowgreen;
}
.dropdown-item:hover{
    color: white;
    background-color:yellowgreen;
}
/* .i1{
    color:yellowgreen;
}
.i1:hover{
    color: white;
    background-color: dodgerblue;
}
 */
.s1{
    color: green;
}
.s2{
    color: red;
}

.c2{
    /* visibility: hidden; */
    display: none;
}
#mtbutton{
    background-color:yellowgreen;
    color: white;
}
#mtbutton:hover{
    background-color: cornflowerblue;
}
